<!DOCTYPE html>

<%- include('../partials/head'); %>

</head>
<body class="container">

    <%- include('../partials/header'); %>

    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Teste o esj. muito pratico</p>
        </div>
    </main>
    
    <%- include('../partials/footer'); %>

</body>
</html>